@import "_color.scss";

.home-page__wrapper {
    padding: 10px;

    .contest-list-page__wrapper {
        width: 75%;
        margin-right: 10px;
    }

    .my-contests__wrapper {
        width: 25%;
        margin-left: 10px;
        
        .contests-card__wrapper {
            margin-bottom: 5px;
            border-radius: 5px;
            .ant-card-body {
                padding: 3px 5px;
            }
            .ant-list-item {
                padding: 6px 0;
            }
            .my-contest-item__container {
                width: 100%;
                padding: 5px 10px;
                border-radius: 5px;
                background-color: #e4e9ec;
                .my-contest-item__title {
                    font-size: 0.9em;
                }
                .my-contest-item__content {
                    font-size: 0.8em;
                }
                .total-score {
                    border-radius: 8px;
                    background-color: $blue;
                    font-weight: bold;
                    padding: 3px 10px;
                    color: $white;
                }
            }
        }
    }
}