.contest-detail {
    .title {
        display: flex;
        align-items: center;
        column-gap: 15px;
        .btn-back {
            display: flex;
            align-items: center;
        }
    }
    .contest-info { 
        .time {
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 5px;
        }
    }
}