.contest-detail {
    .title {
        display: flex;
        align-items: center;
        column-gap: 15px;
        .btn-back {
            display: flex;
            align-items: center;
        }
    }
}