.list-contest-card {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.loading-component {
    margin: 20px 0;
    margin-bottom: 20px;
    padding: 30px 50px;
    text-align: center;
    background: white;
    border-radius: 4px;
}