.add-contest-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    width: 60vw;
    .steps-action {
        display: flex;
        justify-content: flex-end;
    }
    .steps-content .ant-card{
        border-color: #ddd;
    }
}