.loading {
    width: 100%;
    height: 100%;
    align-items: center;
    h2 {
        margin-top: 100px;
        text-align: center;
        @media (min-width: 1080px) {
            font-size: 2.5rem;
        }
    }
    .gif{
        margin-top: 50px;
        position: relative;
        @media (min-width: 1080px) {
            width: 100%;
            height: 400px;
        }
        img { 
            width: 100%;
            height: auto;
            @media (min-width: 1080px) {
                width: 700px;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
    }
    p {
        text-align: center;
        font-size: 1.2rem;
        margin-top: 50px;
    }
}
.loading-fullview {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    width: 100%;
    background: white;
    z-index: 499;
}
.loading-fullview.opacity {
    opacity: 50%;
}